.nav-container {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: gray;
}

.nav-link:hover {
  color: #5cb85c;
}

.selected {
  color: #5cb85c;
}
