.login-container {
  max-width: 1200px;
  margin: 0 auto;
}

.login-container .text-xs-center a {
  color: #5cb85c;
  text-decoration: none;
}

.login-container .btn {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.find > a {
  margin: 10px;
}
