.form-group .alert {
  width: 50vw;
  position: relative;
  left: 15px;
}

.register-container {
  max-width: 1200px;
  margin: 0 auto;
}

.register-container .text-xs-center a {
  color: #5cb85c;
}

.register-container .btn {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
